body {
    min-width: 650px;
    min-height: 250px;
}

/* HEADER */
.header {
    min-height: 40px;
}

.header .md-toolbar-tools {
    height: 40px;
}

.header .btn {
    font-size: 24px;
    color: #fff;
}

.header button {
    /*top: 15px;*/
}

/* MATERIAL DESIGN */
md-toolbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-sidenav {
    width: 180px;
    min-width: 180px;
}

.options md-content {
    padding: 8px 0 0 0;
}

.options hr {
    border: #ccc 1px solid;
}

.form md-input-container {
    padding-bottom: 2px;
}

.export md-dialog-content {
    margin-top: 20px;
}

/* CUSTOM */
samp b {
    background-color: #D32F2F;
    color: #fff;
}

.wait {
    height: 400px;
    background-image: url("../images/wait.png");
}

.main-content {
    padding-bottom: 10px;
}

.clickable {
    cursor: pointer;
}

.sign-in {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #DDDDDD;
}

.notifications-label {
    margin-left: 20px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #F44336;
    text-transform: uppercase;
    font-weight: 500;
}

.notifications {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #F5F5F5;
}

.notifications.top {
    margin-top: 10px;
}

.notifications .md-button {
    text-align: left;
    margin: 0;
}

.notifications .md-button.md-warn {
    text-align: center;
}

.feed-url {
    text-overflow: ellipsis;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
}