<div ng-controller="HeaderCtrl as header">
<md-toolbar class="header">
    <div class="md-toolbar-tools">
        <div ng-if="header.showSwitch">
            <md-switch aria-label="Track manga" ng-model="header.isMangaTracked" title="{{ header.isMangaTrackedMessage }}" ng-change="header.changeStatus(header.isMangaTracked)">
            </md-switch>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Display options" ng-click="header.displayOptions()">
            <span class="btn"><i class="fa fa-bars"></i></span>
        </md-button>
    </div>
</md-toolbar>

<md-sidenav class="options md-sidenav-right md-whiteframe-z2" md-component-id="options">
    <md-content layout-padding="">
        <md-button class="md-primary" ng-click="header.importMangas()">
            <i class="fa fa-download"></i> Import mangas
        </md-button>
        <md-button class="md-primary" ng-click="header.removeMangas()">
            <i class="fa fa-trash"></i> Remove mangas
        </md-button>
        <md-button class="md-primary md-hue-2" ng-click="header.exportMangas()">
            <i class="fa fa-upload"></i> Export mangas
        </md-button>
        <hr />
        <md-button class="md-warn" ng-click="header.signOut()">
            <i class="fa fa-sign-out"></i> Sign out
        </md-button>
    </md-content>
</md-sidenav>
</div>